/* Main body of page */
body {
  background-color: #556B2F;
  margin: 0;
  display: flex;
  height: 100vh;
}

/* Left panel (user interface) */
.panel {
  width: 30%;
  background-color: white;
  color: grey;
  padding: 20px;
  border-radius: 20px;
}

.calculatebutton {
    max-width:30%;
    background-color: white;
    color: grey;
    padding: 20px;
    border-radius: 20px;
    min-width: 0;
}

/* Right panel (map area) */
body > div:not(.panel) {
  flex: 1;
  background-color: #eee;
}
