/* Main body of page */
body {
  background-color: #556B2F;
}

/* Elements in page */
.panel {
    max-width:30%
    background-color: white;
    color: grey;
    padding: 20px;
    border-radius: 20px;
    min-width: 0;
}
