<!-- Main body of page -->
body {
  background-color: #556B2F;
}

<!-- Elements in page -->
.mytextbox {
    backgroundicolor: white;
    color: grey;
    margin: 20px;
    border-radius: 20px;
    padding: 28px;
    gap: 28px;
    min-width: 0;
}
